{% extends 'style/base.html.twig' %}
{% block title %}GI{% endblock %}
{% block head_style %}
    {% stylesheets
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap.css'
    '@AppBundle/Resources/css/style.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}
{% block head_script %}
    {% javascripts
    'jquery/dist/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
    '@AppBundle/Resources/js/typeahead.bundle.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: false } %}
        {% block brand %}
            <a class="navbar-brand" href="#">Demo</a>
        {% endblock %}
        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu',  {'automenu':'navbar'}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body_end %}
{% endblock %}
{% block footer %}
    <p><a href="https://prod.etat-ge.ch/" target="_blank">EdG</a></p>
{% endblock footer %}
{% block headline %}G.I.{% endblock headline %}

